# Images
*.png
*.jpg

# SLURM logs
*.out

# Python
__pycache__/

# Virtual environment
/soccer-venv/

# Training data & outputs
/data/
/runs/
/weights/
/logs/

# Misc
/model_dir/
/UR-RL/
.ipynb_checkpoints/
